<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app" class="thinBorder">
    <ul>
      <div v-if="state === 0" class='state1'>
        <li 
          v-for='(dish, index) in currItem.children'
          class='pointer dishGroup' 
          @click='goFurther(index)'>
          {{dish.content}} 
        </li>
      </div>
      <div v-else class='state2'>
        <li 
          v-for='(dish, index) in currItem.children'
          class="pointer dishItem">
            {{dish.content}} 
        </li>
      </div>
      <button v-if='lastIndex >= 0' @click="goBack">Go back</button>
    </ul>
  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>