<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app" class="thinBorder">

    <div class="flexContainer mainSize">
      <div class="leftColumn">
        <header class='centingText'>Выбранные блюда:</header>
        <ol>
          <li 
            class='pointer highlightOnHover disalowUserSelect'
            v-for='(dish, index) in selected'
            @click='removeDish(index)'>
              {{`Dish: ${dish.content}, amount: ${dish.amount}`}}
          </li>
        </ol>
        <button v-if='selected.length' @click='removeAllDishes'>Удалить все</button>
      </div>

      <div class="rightColumn">
        <header class='centingText'>Выберите блюдо из списка: </header>
        <ul>
          <div v-if="state === 0" class='state1'>
            <li 
              v-for='(dish, index) in currItem.children'
              class='pointer dishGroup disalowUserSelect' 
              @click='goFurther(index)'>
              {{dish.content}} 
            </li>
          </div>
          <div v-else class='state2'>
            <li 
              v-for='(dish, index) in currItem.children'
              @click='addDish(index)'
              class="pointer dishItem disalowUserSelect">
                {{dish.content}} 
            </li>
          </div>
        </ul>
        <button v-if='path.length' @click="goBack">Go back</button>
        </div>

    
  </div>

  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>