.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thinBorder {
  border: 1px solid black;
}

.leftColumn {
  background-color: orchid;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightColumn {
  background-color: silver;
  width: 50%;
}

.dishGroup:hover {
  background-color: orchid;
}

.dishItem:hover {
  background-color: orange;
}

.pointer:hover {
  cursor: pointer;
}

.centingText {
  text-align: center;
}

header {
  font-weight: bold;
  font-size: 24px;
}

.mainSize {
  margin: 0 10% 10%;
}

.highlightOnHover:hover {
  background-color: cadetblue;
}

.disalowUserSelect {
  user-select: none;
}