.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thinBorder {
  border: 1px solid black;
}

.leftColumn {
  background-color: orchid;
}

.rightColumn {
  background-color: silver;
}

.dishGroup:hover {
  background-color: orchid;
}

.dishItem:hover {
  background-color: orange;
}

.pointer {
  cursor: pointer;
}